# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask==1.1.1

# Flask Packages
Flask-Login==0.4.1
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.0
Flask-BabelEx==0.9.3
Flask-User==1.0.1.5
Flask-WTF==0.14.2

# Automated tests
pytest==5.1.2
pytest-cov==2.7.1

# Libraries
beaker==1.11.0
boto3==1.9.228
blinker==1.4
celery==4.3.0
click==7.0
ldap3==2.6.1
psycopg2-binary==2.8.3
pyyaml==5.1.2
requests==2.22.0

# Development tools
# tox==3.5.2
