{% extends "common/page_base.html" %}

{% block content %}

<div class="flex-row align-items-center app">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <form action="" method="POST" novalidate formnovalidate class="form" role="form">
                {{ form.hidden_tag() }}
                <h1>Forgot your password?</h1>
                <p class="text-muted">We'll send you a reminder.</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-user"></i>
                    </span>
                  </div>
                  <input class="form-control" id="email" name="email" tabindex="210" type="text" value="" placeholder="What is your email address?">
                </div>
                <button type="submit" class="btn btn-block btn-success">Reset password</button>
            </form>
          </div>
          <div class="card-footer p-4">
            <div class="row">
              <div class="col-12">
                <a href="/user/sign-in">Back to Log in</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
